##### Composer
composer.phar
/vendor/
composer.lock

##### JetBrains
.idea/
/.idea/
.idea/httpRequests
.idea/dataSources
.idea/workspace.xml

##### Log
/logs/

##### Test
.phpunit.result.cache

##### Conf
.env
